$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "compass";
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 2048px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

$blue: #0080ff;
$lightblue: #80c0ff;
$darkblue: #004080;
      
$navbar-default-link-active-bg: $blue;

a {
  & {
    color: $blue;
  }
  &:hover {
    color: $lightblue;
  }
}

/* Custom page header */
.header {
  li a {
    color: $blue;
  }
  li.active a{
    background: $blue;
    &:hover {
      background: $lightblue;
    }
  }

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }

  
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


.clear {
    clear: left;
}

@mixin transition($duration) {
  -webkit-transition: $duration cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: $duration cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: $duration cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: $duration cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: $duration cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}

.relative {
  position: relative;
}

.slide {
  background-color: yellow;
  position: absolute;
  height: 100%;
  opacity: 1.0;
}

.slide.ng-enter,
.slide.ng-leave {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.slide.ng-enter {
    opacity: 0.0;
    //position: absolute;
    //top: -100%;
    //left: 0px;
}
.slide.ng-enter-active {
    opacity: 1.0;
    //position: relative;
    //top: 0%;
    //left: 100%;
}
.slide.ng-leave {
    opacity: 1.0;
    //position: absolute;
    //top: 0%;
    //left: 100%;
}
.slide.ng-leave-active {
    opacity: 0.0;
    //position: relative;
    //top: 100%;
    //left: 0px;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
} 

@mixin text-border($thickness, $color) {
  text-shadow:
   (-$thickness) (-$thickness) 0 $color,
    $thickness (-$thickness) 0 $color,
    (-$thickness) $thickness 0 $color,
    $thickness $thickness 0 $color,
   (-$thickness) 0px 0 $color,
    0px (-$thickness) 0 $color,
    0px $thickness 0 $color,
    $thickness 0px 0 $color;
}

.custom-container {

  .about{
    margin-bottom:30px; 
  }

  .debug {
    background: yellow;
  }

  .user{
    //float: left;
  }
}