<form ng-controller="addUserController" name="adduserform" id="add-user-form1" ng-submit="submitForm(adduserform.$valid)" novalidate>
	<fieldset>
		<legend>New User</legend>
		<div class="control-group">
			<center><input type="text" placeholder="User..." ng-model="username" size=50 required/></center> 
			<center><input type="password" placeholder="Password..." ng-model="password" size=50 required/></center>
			<center><input type="email" placeholder="Email..." ng-model="email" size=50 required/></center>
		</div>
	</fieldset>
	<p><div><center><button type="submit" ng-disabled="adduserform.$invalid">Save now...</button></center></div></p>
	<p ng-show="adduserform.$invalid">invalid</p>
</form>