<form name="myform" id="myform1" ng-submit="save()">
	<fieldset>
		<legend>New User</legend>
		<div class="control-group">
			<center><input type="text" placeholder="User..." ng-model="username" size=50 required/></center> 
			<center><input type="text" placeholder="Password..." ng-model="password" size=50 required/></center>
			<center><input type="text" placeholder="Email..." ng-model="email" size=50 required/></center>
		</div>
	</fieldset>
	<p><div><center><button type="submit">Save now...</button></center></div></p>
</form>