<html lang="en" ng-app="app">
    <head>

        <!--<link rel="stylesheet" href="styles/main.css">-->
        
    </head>
	<body ng-controller="UserListCtrl">
    <!--<body>-->
		<!--Search: <input ng-model="user"/>-->

        <div ng-view></div>
		
        <!--
		<div class="span10">
			<div ng-repeat="user in users" anm-user="user"></div>	
		</div>

        

		<form name="myform" id="myform1" ng-submit="save()">
			<fieldset>
				<legend>New User</legend>
				<div class="control-group">
					<center><input type="text" placeholder="User..." ng-model="username" size=50 required/></center> 
					<center><input type="text" placeholder="Password..." ng-model="password" size=50 required/></center>
					<center><input type="text" placeholder="Email..." ng-model="email" size=50 required/></center>
				</div>
			</fieldset>
			<p><div><center><button type="submit">Save now...</button></center></div></p>
		</form>
        -->

        <script src="__/env.js"></script>
		
		<!-- build:js(.) scripts/vendor.js -->
    	<!-- bower:js -->
    	<script src="bower_components/jquery/dist/jquery.js"></script>
    	<script src="bower_components/es5-shim/es5-shim.js"></script>
    	<script src="bower_components/angular/angular.js"></script>
    	<script src="bower_components/json3/lib/json3.js"></script>
    	<script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/affix.js"></script>
    	<script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/alert.js"></script>
    	<script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/button.js"></script>
    	<script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/carousel.js"></script>
    	<script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/collapse.js"></script>
    	<script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/dropdown.js"></script>
    	<script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tab.js"></script>
    	<script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/transition.js"></script>
    	<script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/scrollspy.js"></script>
    	<script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/modal.js"></script>
    	<script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tooltip.js"></script>
    	<script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/popover.js"></script>
    	<script src="bower_components/angular-resource/angular-resource.js"></script>
    	<script src="bower_components/angular-cookies/angular-cookies.js"></script>
    	<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    	<script src="bower_components/angular-animate/angular-animate.js"></script>
    	<script src="bower_components/angular-touch/angular-touch.js"></script>
    	<script src="bower_components/angular-route/angular-route.js"></script>
    	<script src="bower_components/angular-gestures/gestures.js"></script>
    	<!-- endbower -->
    	<!-- endbuild -->

    	<!-- build:js({.tmp,app}) scripts/scripts.js -->
		<script src="app.js"></script>
        <script src="components/env/env-service.js"></script>
        <script src="components/user/user-directive.js"></script>
        <script src="components/add-user/add-user-controller.js"></script>
		<!-- endbuild -->

	</body>
</html>